.secBox {
  width: 95%;
  display: flex;
  margin: 0 auto;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}

.Genres {
  margin: 0;
}

.listGenres {
  display: flex;
}

.nameGenres {
  margin-right: 6px;
}

.titleBox {
  margin: 0 auto;
  margin-bottom: 40px;
}

.tagline,
.titleDet {
  text-align: center;
  margin: 0;
  padding: 0;
}

.titleDet {
  margin-bottom: 5px;
}

@media (max-width: 599px) {
  .secBox {
    flex-direction: column;
  }
  .image {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 170px;
    height: 250px;
  }
}
@media (min-width: 600px) and (max-width: 1920px) {
  .image {
    width: 250px;
    height: 340px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .infoBox {
    flex-shrink: 2;
  }
  .secBox {
    flex-wrap: wrap;
  }
  .infoBox {
    width: 50%;
  }
}
